{{ define "main" }}
<main class="content" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="content-header">
    {{ partial "headline.html" . }}
    <p class="content-meta">
      Publicado el {{ partial "date_published.html" . }} por {{ partial "author.html" . }}
      {{ with .Param "reposts" -}}
      &middot;
      <a href="{{ .mastodon }}" target="_blank" rel="noopener noreferrer">Coméntalo en el fediverso</a>
      {{- end }}
    </p>
  </header>

  <div class="content-body" itemprop="articleBody">
    {{ .Content }}
  </div>

</main>
{{ end }}
