<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{- with .Param "image" }}
<meta property="og:image" content="{{ . | absURL }}" />
{{ end }}

{{- if .IsPage }}
  {{- if not .PublishDate.IsZero }}<meta property="article:published_time" content="{{ .PublishDate.Format $.Site.Params.ISO8601 | safeHTMLAttr }}"/>
  {{ else if not .Date.IsZero }}<meta property="article:published_time" content="{{ .Date.Format $.Site.Params.ISO8601 | safeHTMLAttr }}"/>
  {{ end }}
  {{- if not .Lastmod.IsZero }}<meta property="article:modified_time" content="{{ .Lastmod.Format $.Site.Params.ISO8601 | safeHTMLAttr }}"/>{{ end }}
  {{- else }}
  {{- if not .Date.IsZero }}
<meta property="og:updated_time" content="{{ .Date.Format $.Site.Params.ISO8601 | safeHTMLAttr }}"/>
  {{- end }}
{{- end }}

{{ with .Param "audio" }}<meta property="og:audio" content="{{ . }}" />{{ end }}
{{ with .Language }}<meta property="og:locale" content="{{ replace . "-" "_" }}" />{{ end }}
{{ with .Site.Title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
{{ with .Param "videos" }}
  {{- range . }}
<meta property="og:video" content="{{ . | absURL }}" />
  {{ end }}
{{ end }}

{{- /* If it is part of a series, link to related articles */}}
{{- $permalink := .Permalink }}
{{- $siteSeries := .Site.Taxonomies.series }}{{ with .Params.series }}
{{- range $name := . }}
  {{- $series := index $siteSeries $name }}
  {{- range $page := first 6 $series.RegularPages }}
    {{- if ne $page.Permalink $permalink }}<meta property="og:see_also" content="{{ $page.Permalink }}" />{{ end }}
  {{- end }}
{{ end }}{{ end }}

{{- if .IsPage }}
<meta property="article:section" content="{{ .Section }}" />
    {{- with .Params.tags }}
      {{- range first 6 . }}
<meta property="article:tag" content="{{ . }}" />
      {{- end }}
    {{- end }}
{{- end }}

