---
layout: default
---

<main class="content" itemscope itemtype="http://schema.org/Blog">
  {% for post in site.posts %}
  <article class="content" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="content-header">
      {% include headline.html tag="h2" title=post.title url=post.url %}
      {% if post.date or post.author %}
      <p class="content-meta">
        {% include author.html author=post.author %}
        &bullet;
        {% include date_published.html date=post.date %}
      </p>
      {% endif %}
    </header>

    <div class="content-body" itemprop="articleBody">
      {{ post.excerpt | strip_html | truncatewords: 60 }}
    </div>

  </article>
  {% endfor %}
</main>
