@import "variables";
@import "mixins";
@import "standalone-classes";


// Global
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  @extend %no-margin-padding;
}

body {
  @extend %no-margin-padding;

  font-family: 'Fira Sans', sans-serif;
  font-size: 112%;
  line-height: 200%;
  color: $text-color-dark;
  background-color: $background-color;
}


// Imports
@import 'site-estructure';
@import "header";
@import "footer";
@import "content";
