// Footer
.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 1em;

  font-size: 1rem; // reset font size

  a {
    color: $primary-color-effects;
    text-decoration: none;
  }

  p {
    margin: 0;
  }
}

.site-links {
  display: flex;
  margin-bottom: 1em;

  &--item {
    @extend %flex-center;
    padding: 0.25em;

    img {
      width: 2em;
      height: 2em;
    }

    &:not(:first-child) {
      margin-left: 0.5em;
    }
  }
  .icon {
    &-feed {
      background-color: #ff9245;
    }
    &-twitter {
      background-color: #60a6fc;
    }
    &-gitlab {
      background-color: #fc6d26;
    }
    &-github {
      background-color: #24292e;

      img {
        margin-top: 0.25em;
        margin-bottom: -0.25em;
      }
    }
  }
}
