// Dimensions
$site-width: 45rem;

// Color palette
$primary-color: #00897b;
$primary-color-effects: #26a69a;
$background-color: #f7f7f7;
$background-color-effects: #e1e2e1;
$black-color: #000000;
$black-color-effects: #333333;

// Text color
$text-color-light: #ffffff;
$text-color-dark: #000000;
