<div class="site-header--content">
  <div class="site-branding">
    {% if page.url == '/' %}
    <h1 class="site-branding--title"><a href="{{ "/" | absolute_url }}" rel="home">{{ site.title }}</a></h1>
    {% else %}
    <p class="site-branding--title"><a href="{{ "/" | absolute_url }}" rel="home">{{ site.title }}</a></p>
    {% endif %}

    <p class="site-branding--description">{{ site.description }}</p>
  </div>

  <nav class="site-nav">
    <input type="checkbox" class="site-nav--toggle" />
    <ul class="site-nav--content">
      <li class="site-nav--entry">
        <a href="{{ "/about/" | relative_url }}" class="site-nav--link">Quién soy</a>
      </li>
    </ul>
  </nav>
</div>
