$site-width: 960px
$outline-width: $site-width * 0.9
$content-width: $site-width * 0.8

html,
*,
*:before,
*:after
  box-sizing: border-box


// Base
html,
body
  font-size: 18px
  font-family: sans-serif
  margin: 0
  padding: 0
  line-height: 200%

// Generic classes
.screen-reader-text
  position: absolute

  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0

  clip: rect(0 0 0 0)
  overflow: hidden

// Inheritance basis
.horizontal-centered
  margin-left: auto
  margin-right: auto


// Header
.site-header
  background: grey
  padding: 1em

  &--content
    display: flex

    @extend .horizontal-centered
    width: 60em


// Content
.site-content
  margin-left: auto
  margin-right: auto
  padding: 0 1rem
  max-width: $site-width

  > *
    margin-left: auto
    margin-right: auto

    width: 100%
    max-width: $content-width

  cite
    text-align: right

  blockquote,
  figure,
  div
    max-width: $outline-width
  blockquote,
  figcaption
    font-family: serif
    padding-left: 45px
    border-left: 5px solid

  img
    width: 100%
    max-width: $outline-width
