// Dimensions
$site-width: 52rem;
$outline-width: 0.9 * $site-width;
$content-width: 0.8 * $site-width;

// Color palette
$primary-color: #00897b;
$primary-color-effects: #26a69a;
$background-color: #f7f7f7;
$background-color-effects: #e1e2e1;
$black-color: #000000;
$black-color-effects: #333333;

// Text color
$text-color-light: #ffffff;
$text-color-dark: #000000;


// Mixins
@mixin breakpoint($min-width) {
  @media (min-width: $min-width) {
    @content;
  }
}

@mixin autoprefix($property, $val){
  -webkit-#{$property}: $val;
  -moz-#{$property}: $val;
  -ms-#{$property}: $val;
  #{$property}: $val;
}

@mixin gradient-background($base-color, $color-effect) {
  background-image: linear-gradient(170deg, $color-effect, $base-color);
  background-color: $base-color;
}


// Helper classes
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


// Inheritance basis
.horizontal-centered {
  margin-left: auto;
  margin-right: auto;
}


// Global
html,
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: 'Fira Sans', sans-serif;
  color: $text-color-dark;
}

body {
  background: $background-color;

  font-size: 112%;
  line-height: 200%;
}


// App structure
.site-layout {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.site-layout--header {
  color: $text-color-light;
  @include gradient-background($primary-color, $primary-color-effects);
}

.site-layout--content {
  flex-grow: 1; // Fill all available space
  padding: 1rem 0;
}

.site-layout--footer {
  color: $text-color-light;
  @include gradient-background($black-color, $black-color-effects);
}

.site-header,
.site-footer {
  width: 100%;
  @include breakpoint(60rem) { width: 60rem; }
  @extend .horizontal-centered;

  flex-shrink: 0;
  flex-basis: auto;
}
.site-content {
  max-width: $site-width;
  overflow-wrap: break-word;
  @extend .horizontal-centered;
}


// Blocks, elements and modifiers (BEM)
@import "header";
@import "footer";
@import "content";
