$site-width: 52rem
$outline-width: $site-width * 0.9
$content-width: $site-width * 0.8

$primary-color: #00897b
$primary-color-effects: #26a69a
$background-color: #f7f7f7
$background-color-effects: #e1e2e1
$black-color: #000000
$black-color-effects: #333333
$light-text-color: #ffffff
$dark-text-color: #000000

@mixin gradient-background($base-color, $color-effect)
  background-image: linear-gradient(170deg, $color-effect, $base-color)
  background-color: $base-color

@mixin breakpoint($min-width)
  @media (min-width: $min-width)
    @content


html,
*,
*:before,
*:after
  box-sizing: border-box


// Base
html,
body
  font-family: sans-serif
  margin: 0
  padding: 0
  line-height: 200%

body
  background: $background-color
  min-height: 100vh
  font-size: 112%

// Generic classes
.screen-reader-text
  position: absolute

  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0

  clip: rect(0 0 0 0)
  overflow: hidden

// Inheritance basis
.horizontal-centered
  margin-left: auto
  margin-right: auto


// Header & footer
.site-header, .site-footer
  &--content
    display: flex
    flex-direction: row
    justify-content: space-between

    @extend .horizontal-centered
    width: 100%
    @include breakpoint(60rem)
      width: 60rem - 2rem


.site-header
  @include gradient-background($primary-color, $primary-color-effects)
  color: $light-text-color
  padding: 1em

  .site-branding a, .site-nav a
    color: inherit
    text-decoration: none

  .site-branding--title
    font-size: 2em
    font-weight: bold
    margin: 0.67em 0

  .site-nav
    &--content
      display: none
      @include breakpoint(40rem)
        display: unset
    &--toggle
      display: unset
      @include breakpoint(40rem)
        display: none
      float: right

.site-footer
  @include gradient-background($black-color, $black-color-effects)
  color: $light-text-color
  padding: 1em

  a
    color: $primary-color-effects
    text-decoration: none

// Content
.site-content
  margin: 2em auto
  padding: 0 1rem
  max-width: $site-width
  overflow-wrap: break-word

  > *
    margin-left: auto
    margin-right: auto

    width: 100%
    max-width: $content-width

  .post
    text-align: justify

  a
    color: $primary-color
    text-decoration: none
    padding: .2em  .2em  .1em  .2em
    margin: -.2em -.1em -.1em -.2em

    &:active, &:hover
      background-color: $primary-color-effects
      color: $light-text-color
      transition: .3s

      &[href*='//']
        background-color: $black-color-effects
        color: $primary-color-effects

  cite
    text-align: right

  blockquote,
  figure,
  div,
  pre
    max-width: $outline-width

  pre, code
    white-space: pre-wrap

  #markdown-toc,
  blockquote,
  figcaption
    font-family: serif

  #markdown-toc,
  blockquote,
  figcaption,
  pre
    padding-left: 45px
    border-left: 5px solid $primary-color
    margin: 0.5em

  img
    width: 100%
    max-width: $outline-width
