// Inheritance basis
.lateral-bar {
  margin: 0;
  padding-left: 1.25em;
  @include breakpoint(52rem) { padding-left: 2em; }

  border-left: 5px solid $primary-color;

  font-family: serif;
  font-size: 95%;
}

// Content
.site-content {
  padding: 0 1rem;

  > * {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $content-width;
  }

  .post {
    text-align: justify;

    &-title {
      text-align: start;
      line-height: 1.5em;
    }
    &-meta {
      color: $black-color-effects;
    }

    aside {
      margin-top: 3rem;
      font-size: 95%;

      &::before {
        content: "";
        display: block;
        width: 33%;

        margin-bottom: -.25em;

        border-top: 5px solid $primary-color;
      }
    }
  }

  a {
    color: $primary-color;
    text-decoration: none;
    padding: 0.2em 0.2em 0.1em 0.2em;
    margin: (-0.2em) -0.1em -0.1em -0.2em;

    &:active, &:hover {
      background-color: $primary-color-effects;
      color: $text-color-light;
      transition: 0.3s;

      &[href*='//'] {
        background-color: $black-color-effects;
        color: $primary-color-effects;
      }
    }
  }

  cite {
    text-align: right;
  }

  blockquote,
  figure,
  div,
  pre {
    max-width: $outline-width;
  }

  pre, code {
    white-space: pre-wrap;
  }

  blockquote,
  figcaption {
    @extend .lateral-bar;
  }

  pre {
    @extend .lateral-bar;
    font-family: unset;
  }

  #markdown-toc {
    @extend .lateral-bar;
    padding-left: 2.25em;
    @include breakpoint(52rem) { padding-left: 3em; }
  }

  img {
    width: 100%;
    max-width: $outline-width;
  }
}
