<!doctype html>
{{ $path := "/revealjs" | relURL -}}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{ .Title | htmlEscape }}</title>

		<meta name="description" content="{{ .Description }}">

		<link rel="stylesheet" href="{{ $path }}/css/reset.css">
		<link rel="stylesheet" href="{{ $path }}/css/reveal.css">
{{- with .Param "reveal.stylesheet" }}
		<link rel="stylesheet" href="{{ . }}">
{{ else }}
		<!-- default themes contain external Google Fonts shit
		<link rel="stylesheet" href="{{ $path }}/css/theme/black.css">
		-->
{{- end }}

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="{{ $path }}/lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '{{ $path }}/css/print/pdf.css' : '{{ $path }}/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body class="{{ delimit (.Param "reveal.styleclasses") ' ' }}">
		<div class="reveal">
			{{ .Content }}
		</div>

		<script src="{{ $path }}/js/reveal.js"></script>

{{- with .Param "reveal.initscript" }}
		{{ . | safeHTML }}
{{ else }}
		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				hash: true,
				dependencies: [
					{ src: '{{ $path }}/plugin/markdown/marked.js' },
					{ src: '{{ $path }}/plugin/markdown/markdown.js' },
					{ src: '{{ $path }}/plugin/highlight/highlight.js' },
					{ src: '{{ $path }}/plugin/notes/notes.js', async: true }
				]
			});
		</script>
{{- end }}
	</body>
</html>
