/* Constants */

// Sizes
$unit: 4px; // presentation unit: 10px
$piece-size: 3 * $unit;
$inter-piece-spacing: 1 * $unit;
$cube-size: 3 * $piece-size + 2 * $inter-piece-spacing;


// Colors
$white:  #e2e8e7;
$yellow: #f6c574;
$blue:   #00aacf;
$green:  #00b3a0;
$red:    #fc5652;
$orange: #fc9f39;


// Projections
$projection-up-front-right: rotateX(-45deg) rotateY(-45deg);
$projection-front-up-left: rotateX(45deg) rotateZ(-135deg);
$projection-front-down-right: rotateX(45deg) rotateZ(45deg);
$projection-front-right-up: rotateX(45deg) rotateZ(135deg);
$projection-front-left-down: rotateX(45deg) rotateZ(-45deg);


// Animations
$animation-steps: 4;

$full-animation-duration: 1.5s;
$step-animation-duration: $full-animation-duration / $animation-steps;
