---
---
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rubik's loader</title>
  <link rel="stylesheet" href="./index.css">
  <style type="text/css">
    /* Presentation */
    html, body { margin: 0; padding: 0; }
    body { display: flex; width: 100vw; height: 100vh; align-items: center; justify-content: space-around; justify-content: space-evenly; }
    @media (orientation: portrait) { body { flex-direction: column; } }
  </style>
</head>
<body>
  <div class="rubiks-loader">
    <div class="cube animated preload">
      {% include_relative _cube-preload.html %}
    </div>
  </div>

  <div class="rubiks-loader">
    <div class="cube animated twist">
      {% include_relative _cube-full.html %}
    </div>
  </div>
</body>
</html>
