---
layout: default
---

<main class="content" itemscope itemtype="http://schema.org/Article">

  <header class="content-header">
    {% include headline.html %}
    {% if page.date or page.author %}
    <p class="content-meta">
      {% if page.date %}
        {% include datePublished.html %}
      {% endif %}
      {% if page.date and page.author %} &bullet; {% endif %}
      {% if page.author %}
        {% include author.html %}
      {% endif %}
    </p>
    {% endif %}
  </header>

  <div class="content-body" itemprop="articleBody">
    {% if page.description %}
    {% include description.html %}
    {% endif %}

    {{ content }}
  </div>

</main>
