<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{ page.title | escape }}</title>

		<meta name="description" content="{{ page.description }}">
		<meta name="author" content="{{ page.author }}">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="{{ site.baseurl }}{% link /assets/reveal.js/css/reveal.css %}">
		<!--link rel="stylesheet" href="css/theme/black.css" id="theme"--> <!-- default themes contain external Google Fonts shit -->

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="{{ site.baseurl }}{% link /assets/reveal.js/lib/css/zenburn.css %}">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '{{ site.baseurl }}{% link /assets/reveal.js/css/print/pdf.css %}' : '{{ site.baseurl }}{% link /assets/reveal.js/css/print/paper.css %}';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="{{ site.baseurl }}{% link /assets/reveal.js/lib/js/html5shiv.js %}"></script>
		<![endif]-->
	</head>
	<body>
		<div class="reveal">
			{{ content }}
		</div>

		<script src="{{ site.baseurl }}{% link /assets/reveal.js/lib/js/head.min.js %}"></script>
		<script src="{{ site.baseurl }}{% link /assets/reveal.js/js/reveal.js %}"></script>

{% if page.init_script %}
{{ page.init_script }}
{% else %}
		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '{{ site.baseurl }}{% link /assets/reveal.js/plugin/markdown/marked.js %}' },
					{ src: '{{ site.baseurl }}{% link /assets/reveal.js/plugin/markdown/markdown.js %}' },
					{ src: '{{ site.baseurl }}{% link /assets/reveal.js/plugin/notes/notes.js %}', async: true },
					{ src: '{{ site.baseurl }}{% link /assets/reveal.js/plugin/highlight/highlight.js %}', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
{% endif %}
	</body>
</html>
